---
title: Southern Ocean 2023
feature_text: |
feature_image: "https://tarkanbilge.github.io/assets/mountain1.jpg"
aside: false
---

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04078.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04132.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04147.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04159.jpg" position="left" width="6020" height="4024" %}


{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04266.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04331.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04355.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04380.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04382.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04390.jpg" position="left" width="6020" height="4024" %}

{% include figure.html image="https://tarkanbilge.github.io/blog/photos/DSC04434.jpg" position="left" width="6020" height="4024" %}

